# Python virtual environment
/venv/
/env/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor folders
.vscode/
.idea/

# Flask instance folder (if you have sensitive configs or a dev database)
/instance/
*.sqlite3
*.db

# Other
.DS_Store